<div class="footer navbar">

    <div class="col-md-4">

        <div class="text-container">

            <div class="img-container left">
                <h4>SkyService</h4>
                <p class="footer-text">The best service</p>
            </div>
            <div class="img-container left">
                <h4>Контакт:</h4>
                <p class="footer-text">тел: 050 307 33 44 Почта: winner.paladin@gmail.com</p>
            </div>

            <div class="img-container right">
                <a href="https://nodejs.org/">
                    <img src="https://nodejs.org/static/images/logo.svg" class="footer-img" />
                </a>
                <a href="https://angular.io/">
                    <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="footer-img" />
                </a>
            </div>

            <div class="img-container right">
                <a href="https://jwt.io/">
                    <img src="https://jwt.io/img/pic_logo.svg" class="footer-img" />
                </a>
                <a href="https://www.mongodb.com/">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/1280px-MongoDB-Logo.svg.png" class="footer-img" />
                </a>

            </div>
        </div>
    </div>
</div>
