<div class="col-md-4 top">
  <form id="form">
    <div class="search-box" id="search-component">
      <h4>Клиенты</h4>
      <input #searchBox id="search-box" name="search-box" (keyup)="searchTerm$.next($event.target.value)" class="form-control" autocomplete="off" />
      <button *ngIf="!showCustomers; else hide" (click)="showCustomers = true; getUsers(); selectedUser = null" class="btn btn-primary">Посмотреть</button>
      <ng-template #hide> <button (click)="showCustomers = false;" class="btn btn-primary">Скрыть список</button></ng-template>
      <button class="btn btn-primary" (click)="addCustomer = true">Добавить клиента</button>
      <div *ngIf="users">
        <option class="form-control hover" *ngFor="let user of users" (click)="onSelect(user); users=null; search = false; showCustomers = false" onclick="document.getElementById('form').reset()">{{ user.lastname }} {{user.firstname}}: {{user.email}}</option>
      </div>
    </div>
  </form>

  <div class="form-horizontal right" id="formSearch">
    <h4>Поиск событий по времени</h4>
    <div class="form-group">
      <label class="col-lg-2 control-label">Время начала</label>
      <input type="datetime-local" step="1800" class="form-control form" id="input" [(ngModel)]="start" name="start" required>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label ">Время окончания</label>
      <input type="datetime-local" step="1800" class="form-control form" id="input" [(ngModel)]="end" name="end" required>
    </div>
    <input type="submit" (click)="eventSearch(start,end); showCustomers = false; selectedUser=null" class="btn btn-primary button-right" value="Обновить">
  </div>
</div>

<form class="form-horizontal" id="addUserForm" (ngSubmit)="addUser(); addUserForm.reset()" [formGroup]="addUserForm" *ngIf="addCustomer">
  <div class="panel panel-success">
    <div class="panel-heading">
      <legend class="panel-title">Добавить пользователя</legend>
    </div>
    <div class="panel-body">
      <div class="col-md-4 fixed">
        <div class="form-group" [ngClass]="{'has-error': addUserForm.get('firstname').invalid && addUserForm.get('firstname').touched}">
          <label class="col-lg-2 control-label">Имя:</label>
          <input type="text" id="inputAdd" name="inputAdd" class="form-control form" formControlName="firstname" />
        </div>
        <div class="form-group" [ngClass]="{'has-error': addUserForm.get('lastname').invalid && addUserForm.get('lastname').touched}">
          <label class="col-lg-2 control-label">Фамилия:</label>
          <input type="text" id="inputAdd" name="inputAdd" class="form-control form" formControlName="lastname" />
        </div>
        <div class="form-group" [ngClass]="{'has-error': addUserForm.get('email').invalid && addUserForm.get('email').touched}">
          <label class="col-lg-2 control-label">Почта:</label>
          <input type="email" name="email" id="inputAdd" class="form-control form" formControlName="email" />
        </div>
        <div class="form-group" [ngClass]="{'has-error': addUserForm.get('phone').invalid && addUserForm.get('phone').touched}">
          <label class="col-lg-2 control-label">Телефон:</label>
          <input type="text" id="inputAdd" name="Phone" class="form-control form" formControlName="phone" />
        </div>
      </div>
      <div class="col-md-4 fixed">
        <div class="form-group" [ngClass]="{'has-error': addUserForm.get('city').invalid && addUserForm.get('city').touched}">
          <label class="col-lg-2 control-label">Город:</label>
          <input type="text" id="inputAdd" name="City" text="" class="form-control form" formControlName="city" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Доп. инфо:</label>
          <textarea name="notes" id="inputAdd" class="form-control form" rows="4" draggable="false" formControlName="notes"></textarea>
        </div>
      </div>
    </div>
  </div>
  <button type="reset" (click)="addCustomer = false; addUserForm.reset()" class="btn btn-default btn-sm">Отменить</button>
  <button [disabled]="!addUserForm.valid" type="submit" class="btn btn-primary btn-sm">Принять</button>
</form>


<form class="form-horizontal" *ngIf="selectedUser" (ngSubmit)="updateUser()">
  <div class="panel panel-success">
    <div class="panel-heading">
      <legend class="panel-title">{{selectedUser.username}}</legend>
    </div>
    <div class="panel-body">
      <div class="col-md-4 fixed">
        <div class="form-group">
          <label class="col-lg-2 control-label">Имя:</label>
          <input type="text" [(ngModel)]="selectedUser.firstname" id="inputFirstname" name="Firstname" placeholder="{{selectedUser.firstname}}" text="" class="form-control form" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Фамилия:</label>
          <input type="text" [(ngModel)]="selectedUser.lastname" id="inputLastname" name="Lastname" placeholder="{{selectedUser.lastname}}" text="" class="form-control form" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Логин:</label>
          <input type="text" [(ngModel)]="selectedUser.username" name="username" id="inputUsername" placeholder="{{selectedUser.username}}" class="form-control form" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Почта:</label>
          <input type="email" [(ngModel)]="selectedUser.email" name="email" id="inputEmail" placeholder="{{selectedUser.email}}" class="form-control form" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Телефон:</label>
          <input type="text" [(ngModel)]="selectedUser.phone" id="inputFirstname" name="Phone" placeholder="{{selectedUser.phone}}" text="" class="form-control form" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Админ:</label>
          <input type="checkbox" [(ngModel)]="selectedUser.admin" name="admin" id="inputAdmin" placeholder="{{selectedUser.admin}}" class="form checkbox" />
        </div>
      </div>
      <div class="col-md-4 fixed">
        <div class="form-group">
          <label class="col-lg-2 control-label">Город:</label>
          <input type="text" [(ngModel)]="selectedUser.city" id="inputFirstname" name="City" placeholder="{{selectedUser.city}}" text="" class="form-control form" />
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Доп. инфо:</label>
          <textarea [(ngModel)]="selectedUser.notes" name="notes" id="inputNotes" placeholder="{{selectedUser.notes}}" class="form-control form" rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>
  <button type="reset" (click)="selectedUser = null; getConfirms()" class="btn btn-default btn-xs">Отменить</button>
  <button type="submit" class="btn btn-primary btn-xs">Сохранить</button>
  <button type="submit" (click)="deleteUser()" class="btn btn-default btn-default">Удалить</button>
</form>


<div class="form-horizontal" *ngIf="showCustomers">
  <table class="table table-hover">
    <thead>
      <legend>
        Клиенты
      </legend>
      <tr>
        <th>Клиент</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Телефон</th>
        <th>Город</th>
        <th>Доп. инфо</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList" (click)="onSelect(user); showCustomers=false">
        <td class="desc">{{user.username}}</td>
        <td class="desc">{{user.firstname}}</td>
        <td class="desc">{{user.lastname}}</td>
        <td class="desc">{{user.email}}</td>
        <td class="desc">{{user.phone}}</td>
        <td class="desc">{{user.city}}</td>
        <td class="desc">{{user.notes}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="events.length && !selectedUser && !search" class="form-horizontal">
  <table class="table table-hover">
    <thead>
      <legend>
        Оформленные заказы
      </legend>
      <tr>
        <th>Клиент</th>
        <th>Заказ</th>
        <th>Начало</th>
        <th>Конец</th>
        <th>Номер</th>
        <th>Доп. инфо</th>
        <th>Принять/Удалить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td class="table-name">{{event.user}}</td>
        <td class="desc">{{event.title}}</td>
        <td class="desc">{{event.start}}</td>
        <td class="desc">{{event.end}}</td>
        <td class="desc">{{event.regNumber}}</td>
        <td class="table-text">{{event.description}}</td>
        <td class="table-last">
          <button (click)="deleteEvent(event)" class="btn btn-danger btn-sm">Отменить</button>
          <button (click)="confirmEvent(event)" class="btn btn-success btn-sm" *ngIf="!event.confirm">Принять</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-container" *ngIf="selectedUser">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Действие</th>
        <th>Время начала</th>
        <th>Время окончания</th>
        <th>Рег. номер</th>
        <th>Доп. инфо</th>
        <th>Принять/Отменить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td class="table-name">{{event.user}}</td>
        <td class="desc">{{event.title}}</td>
        <td class="desc">{{event.start}}</td>
        <td class="desc">{{event.end}}</td>
        <td class="desc">{{event.regNumber}}</td>
        <td class="table-text">{{event.description}}</td>
        <td class="table-last"><button (click)="(deleteEvent(event))" class="btn btn-danger btn-sm">Отклонить</button>
          <button (click)="confirmEvent(event)" class="btn btn-success btn-sm" *ngIf="!event.confirm">Принять</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-container" *ngIf="search && !selectedUser">
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Клиент</th>
        <th>Действие</th>
        <th>Начало</th>
        <th>Конец</th>
        <th>Рег. номер</th>
        <th>Доп. инфо</th>
        <th>Принять/Отменить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td class="table-name">{{event.user}}</td>
        <td class="desc">{{event.title}}</td>
        <td class="desc">{{event.start}}</td>
        <td class="desc">{{event.end}}</td>
        <td class="desc">{{event.regNumber}}</td>
        <td class="table-text">{{event.description}}</td>
        <td class="table-last"><button (click)="(deleteEvent(event))" class="btn btn-danger btn-sm">Отменить</button>
          <button (click)="confirmEvent(event)" class="btn btn-success btn-sm" *ngIf="!event.confirm">Принять</button></td>
      </tr>
    </tbody>
  </table>
</div>
