<div class="register-form">
  <h2 class="page-header">Регистрация</h2>
  <div class="infobox">Вся информация обязательна</div>
  <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    <div class="register-container-2">

      <div class="form-group form-solo" [ngClass]="{'has-error': registerForm.get('location').invalid && registerForm.get('location').touched}">
        <label>Выберете желаемую мастерскую</label>
        <select type="text" class="form-control" formControlName="location" name="location">
          <option value="first">Центральная</option>
          <option value="second" >Вторичная</option>
        </select>
      </div>
    </div>

    <div class="register-container-2">
      <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('firstname').invalid && registerForm.get('firstname').touched}">
        <label>Имя</label>
        <small *ngIf="registerForm.get('firstname').hasError('required') && registerForm.get('firstname').touched" class="form-alert">Обязательная информация!</small>
        <div>
          <input type="text" formControlName="firstname" name="firstname" class="form-control form-input" [ngClass]="{'form-control-danger': registerForm.get('firstname').invalid}">
        </div>
      </div>

      <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('lastname').invalid && registerForm.get('lastname').touched}">
        <label>Фамилия</label>
        <small *ngIf="registerForm.get('lastname').hasError('required') && registerForm.get('lastname').touched" class="form-alert">Обязательная информация!</small>
        <div>
          <input type="text" formControlName="lastname" name="lastname" class="form-control form-input" [ngClass]="{'form-control-danger': registerForm.get('lastname').invalid}">
        </div>
      </div>
    </div>

    <div class="register-container-2">

      <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('email').invalid && registerForm.get('email').touched}">
        <label>Почта</label>
        <small *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="form-alert">Обязательная информация!</small>
        <small *ngIf="!registerForm.get('email').hasError('required') && registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="form-alert">Введите правильный адрес</small>
        <div>
          <input type="text" formControlName="email" name="email" class="form-control form-input" placeholder="example@email.com" [ngClass]="{'form-control-danger': registerForm.get('email').invalid}">
        </div>
      </div>

      <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('phone').invalid && registerForm.get('phone').touched}">
        <label>Номер телефона</label>
        <small *ngIf="registerForm.get('phone').hasError('required') && registerForm.get('phone').touched" class="form-alert">Обязательная информация!</small>
        <small *ngIf="!registerForm.get('phone').hasError('required') && registerForm.get('phone').hasError('pattern') && registerForm.get('phone').touched" class="form-alert">Введите правильный номер</small>
        <div>
          <input type="text" formControlName="phone" name="phone" class="form-control form-input" [ngClass]="{'form-control-danger': registerForm.get('phone').invalid}">
        </div>
      </div>

      <div>
        <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('city').invalid && registerForm.get('city').touched}">
          <label>Город</label>
          <small *ngIf="registerForm.get('city').hasError('required') && registerForm.get('city').touched" class="form-alert">Обязательная информация!</small>
          <div>
            <input type="text" formControlName="city" name="city" class="form-control form-input" [ngClass]="{'form-control-danger': registerForm.get('city').invalid}">
          </div>
        </div>
      </div>

      <div class="form-group form-solo" [ngClass]="{'has-error': registerForm.get('username').invalid && registerForm.get('username').touched}">
        <label>Логин</label>
        <small *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched" class="form-alert">Обязательная информация!</small>
        <small *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched" class="form-alert">Имя должно иметь не менее 4 символов</small>
        <div>
          <input type="text" formControlName="username" name="username" class="form-control form-input" [ngClass]="{'form-control-danger': registerForm.get('username').invalid}">
        </div>
      </div>

      <div>
        <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('password').invalid && registerForm.get('password').touched}">
          <label>Пароль</label>
          <small *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" class="form-alert">Обязательная информация!</small>
          <small *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched" class="form-alert">Пароль не менее 4-еъ символов</small>
          <div>
            <input type="password" class="form-control form-input" formControlName="password" name="password" placeholder="Пароль" [ngClass]="{'form-control-danger': registerForm.get('password').invalid && !registerForm.get('password').pristine}">
          </div>
        </div>

        <div class="form-group col-sm-6" [ngClass]="{'has-error': registerForm.get('passwordConfirm').invalid && registerForm.get('passwordConfirm').touched}">
          <label>Введите пароль еще раз</label>
          <small *ngIf="registerForm.get('passwordConfirm').hasError('areEqual') && registerForm.get('passwordConfirm').touched" class="form-alert">Пароли не совпадают</small>
          <div>
            <input type="password" class="form-control form-input" formControlName="passwordConfirm" name="passwordConfirm" placeholder="Пароль" [ngClass]="{'form-control-danger': registerForm.get('passwordConfirm').invalid}">
          </div>
        </div>
      </div>

      <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary">Зарегестрироваться</button>
    </div>
  </form>
</div>

